# Path to the NDVI dataset
NDVI_DATA_DIR = "data/NDVI"

# Path to the POLARIS dataset
SOIL_DATA_DIR = "data/POLARIS"

# Supported POLARIS soil layers
SOIL_LAYERS = [
    "alpha", "bd", "clay", "hb", "ksat", "lambda", "n", "om", "ph", "sand", "silt", "theta_r", "theta_s"
]
